<div id="form">
    <form action="">
        <div class="row flex-container">
            <div>
                <input class="form-control" type="search" placeholder="Buscar...">
            </div>
            <div>
                <input class="btn btn-primary" type="button" value="Buscar">
            </div>
        </div>
        <div class="contenidoform">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="text-light form-label ">Cedula:</label>
                <input class="form-control form-control-sm" type="text" placeholder="Ingrese la cedula" required
                    name="cedula" disabled>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="text-light form-label ">Nombres y apellidos:</label>
                <input class="form-control form-control-sm" type="text" placeholder="Nombres y apellidos" required
                    name="nombreApellidos" disabled>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault04" class="text-light form-label ">Numero de medidor:</label>
                    <select class="form-select" id="validationDefault04" required name="numMedidor">
                        <option selected disabled>Selecione un medidor</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="text-light form-label ">Lectura anterior:</label>
                <input class="form-control form-control-sm" type="text" placeholder="Ingrese la lectura anterior"
                    required name="lecturaAnterior" readonly>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="text-light form-label ">Lectura actual:</label>
                <input class="form-control form-control-sm" type="text" placeholder="Ingrese la lectura actual" required
                    name="lecturaActual" disabled>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="text-light form-label ">Consumo total m3:</label>
                <input class="form-control form-control-sm" type="text" placeholder="Ingrese el consumo en m3" required
                    name="conumoCubico" readonly>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault04" class="text-light form-label ">Tipo de consumo:</label>
                    <select class="form-select" id="validationDefault04" required name="tipoConsumo" readonly>
                        <option selected disabled>Selecione un tipo de consumo</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01" class="text-light form-label ">Fecha de registro:</label>
                    <input type="date" class="form-control form-control-sm"  name="fechaRegistro" required readonly>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01" class="text-light form-label ">Fecha limite de pago:</label>
                    <input type="date" class="form-control form-control-sm"  name="fechaLimite" required readonly>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="text-light form-label ">Total a pagar:</label>
                <input class="form-control form-control-sm" type="text" placeholder="Ingrese el total a pagar"
                    name="totalPagar" required readonly>
            </div>
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">Left</button>
                <button type="button" class="btn btn-warning">Middle</button>
                <button type="button" class="btn btn-success">Right</button>
            </div>
        </div>
    </form>
</div>